@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');
$roboto: 'Roboto', sans-serif;
$deep-purple-200: #B39DDB;
$deep-purple: #673AB7;
$deep-purple-400: #7E57C2;
$path-app: ".././assets/common-styles/";
$path-inner: "../.././assets/common-styles/";
